mixin pagination(category, filtered, query, page, pages, count)
  -const filteredPrev = `/${category}/filter/${query}/page/${page - 1}`;
  -const filteredNext = `/${category}/filter/${query}/page/${parseFloat(page) + 1}`;
  -const prev = `/${category}/page/${page - 1}`;
  -const next = `/${category}/page/${parseFloat(page) + 1}`;
  -const prevLink = filtered ? filteredPrev : prev;
  -const nextLink = filtered ? filteredNext : next;

  .pagination
    .pagination_prev
      if page > 1
        a(href=`${prevLink}`) Prev
    .pagination_text
      p Page #{page} of #{pages} - #{count} total results
    .pagination_next
      if page < pages
        a(href=`${nextLink}`) Next