extends layout

include mixins/_errorMessages
include mixins/_loan
include mixins/_noLoanHistory

block content
  h1 Book: #{book.title}
  form(action=`/books/detail/${book.id}` method="post")
    if errors
      +errorMessages(errors)
    p
      label(for="title") Title
      input#title(type="text" name="title" value=`${book.title || ''}`)
    p
      label(for="author") Author
      input#author(type="text" name="author" value=`${book.author || ''}`)
    p
      label(for="genre") Genre
      input#genre(type="text" name="genre" value=`${book.genre || ''}`)
    p
      label(for="first_published") First Published
      input#first_published(type="text" name="first_published" value=`${book.first_published || ''}`)
    p
      label(for="number_in_stock") Number in Stock
      input#number_in_stock(type="number" min="0" max="100" name="number_in_stock" value=`${book.number_in_stock}`)
    p
      input(type="submit" value="Update")

    h2 Loan History
    if book.Loans.length > 0
      table
        thead
          tr
            th Book
            th Patron
            th Loaned On
            th Return By
            th Returned on
            th Action
        tbody
          each loan in book.Loans
            +loan(loan, undefined, book)
    else
      +noLoanHistory('book')