mixin loan(loan)
  tr
    td
      a(href=`/book/details/${loan.Book.id || bookId}`) #{loan.Book.title || bookTitle}
    td
      a(href=`/patron/details/${loan.Patron.id}`)= `${loan.Patron.first_name} ${loan.Patron.last_name}`
    td= loan.loaned_on
    td= loan.return_by
    td= loan.returned_on
    td
      if !loan.returned_on
        a.button(href=`/loan/return/${loan.id}`) Return Book  