mixin loan(loan, patron)
  tr
    td
      a(href=`/book/details/${loan.Book.id || bookId}`) #{loan.Book.title || bookTitle}
    td
      - const patronId = typeof(loan.Patron) !== 'undefined' ? loan.Patron.id : patron.id;
      - const patronName = typeof(loan.Patron) !== 'undefined' ? `${loan.Patron.first_name} ${loan.Patron.last_name}` : `${patron.first_name} ${patron.last_name}`;
      a(href=`/patron/details/${patronId}`)= patronName
    td= loan.loaned_on
    td= loan.return_by
    td= loan.returned_on
    td
      if !loan.returned_on
        a.button(href=`/loan/return/${loan.id}`) Return Book  