mixin pagination(category, page, pages, count)
  .pagination
    .pagination_prev
      if page > 1
        a(href=`/${category}/all/page/${page - 1}`) Prev
    .pagination_text
      p Page #{page} of #{pages} - #{count} total results
    .pagination_next
      if page < pages
        a(href=`/${category}/all/page/${parseFloat(page) + 1}`) Next